.article {
	width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
}

.article .articleCard {
	width: 389px;
	height: 340px;
	margin: 10px;
	border-radius: 20px;
	transition: box-shadow 0.3s ease-in-out;
}

.article img{
	width: 100%;
	max-height: 340px;
	object-fit: cover;
}

.article h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 39px;
    color: #444444
}
.article h4 {
    text-align: center;
    font-size: 26px;
    margin-top: -20px;
    margin-bottom: 40px;
    color: #444444;
}
.article p{
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
}

.articletuile{
	display: flex; 
	position: relative;
	border-radius: 18px;
    margin-top: -100px;
	flex-wrap: wrap; 
	justify-content: center; 
	align-items: center; 
	background:rgba(255, 255, 255, 1);
	height: 100%;
	width: 100%;
}

.articletuile h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #444444
}
.articletuile h4 {
    text-align: center;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 40px;
    color: #444444;
}
.articletuile p{
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
}