@charset "utf-8";

.card {
	position: relative;
	display: inline-block;
	width: 320px;
	height: 300px;
	z-index: 100;
	overflow: hidden;
	vertical-align: top;
}

.card .sub-photo {
	position: absolute;
	width: 320px;
	height: 240px;
	overflow: hidden;
}
.card .sub-photo div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 1500ms linear;
}
.card .sub-photo div:hover {
	transform: scale(1.2);
	transition: all 1000ms linear;
}
.sub-text {
	position: relative;
	color: #000000;
	bottom: -240px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.sub-text2 {
	position: relative;
	color: #000000;
	bottom: -310px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.galerie {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
    display: flex;
	column-gap: 30px;
	flex-wrap: wrap;

}
