body {
	margin: 10;
	padding: 10;
	color: #444444;
}

nav {
	background-color: #EFEFEF;
	border-right: 1px solid #444444;
	height: 100vh;
	width: 15vw;
	padding: 15px;
	color: #444444;
}

nav #hour{
	font-size: 1.5em;
}

nav #message {
	margin-top: 10px;
	margin-bottom: 15vh;
	font-size: 1em;
}

nav .menu h5 .nav-link{
	text-decoration: none;
	color: #444444;
}

/* ===================================================================================== */
/* Corps du site */

#myCategory {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.row .col.offset-s1 {
    padding-top: 15px;
}

.input-field {
	position: static;
	border-radius: 5px;
	padding: 0px;
	background-color: #D9D9D9;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
{
	border-bottom: 0px solid #9e9e9e;
	background-color: #D9D9D9;
}
.input-field input[type=search] {
    display: block;
    line-height: inherit;
    /* -webkit-transition: .3s background-color; */
    /* transition: .3s background-color; */
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, red);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.active{
	background-color: #00B1FF;	
	padding: 10px;
	border-radius: 50px;
	font-weight: bold;
	color: rgb(255, 255, 255) !important;
} 
.nonActive{
	padding: 10px;
	border-radius: 50px;
	color: #444444;
	font-weight: bold;
} 

.galerie{
	display: none;
}