@charset "utf-8";
h1 {
	color: #fff;
	font-variant: small-caps;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
nav { 
	position:fixed;
	top:0; left:0; width:20%; 	
	height:100%; 
	background-color:gray;
	color:#fff;
	padding:1%;
}

nav div.menu { 
	padding-left:10%;
	margin-top:20px;
}
nav div.menu * { 
	color:#fff; 
	text-decoration: none;
}

nav div.menu h3::before { 
	color:#fff; 
	text-decoration: none;
}

div.menu h3 {
	margin:0; 
	position:relative; 
	margin-top:20px;
}
#header {
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 24px 0;
	background: rgba(103, 176, 209, 0.8);
  }
  
  #header.header-transparent {
	background: transparent;
  }
  
  #header.header-scrolled {
	background: rgba(55, 142, 181, 0.9);
	padding: 12px;
  }
  
  #header .logo h1 {
	font-size: 24px;
	margin: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
  }
  
  #header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
  }
  
  @media (max-width: 768px) {
	#header.header-scrolled {
	  padding: 15px 0;
	}
  }
  .navbar {
	padding: 0;
  }
  
  .navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
  }
  
  .navbar li {
	position: relative;
  }
  
  .navbar a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
	margin-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	white-space: nowrap;
	transition: 0.3s;
  }
  
  .navbar a i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
	background: rgba(255, 255, 255, 0.2);
  }
  
  .navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 10px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
	min-width: 200px;
  }
  
  .navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 15px;
	text-transform: none;
	font-weight: 600;
	color: #2f4d5a;
  }
  
  .navbar .dropdown ul a i {
	font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
	color: #67b0d1;
  }
  
  .navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
  }
  
  @media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
	  left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
	  left: -100%;
	}
  }
.card {
	display: flex;
	width: 320px;
	height: 300px;
	z-index: 100;
	overflow: hidden;
	vertical-align: top;
    border-radius: 5%;
}

.card .sub-photo {
	position: absolute;
	width: 320px;
	height: 240px;
	overflow: hidden;
}
.card .sub-photo div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 1500ms linear;
}
.card .sub-photo div:hover {
	transform: scale(1.2);
	transition: all 1000ms linear;
}
h2 {
	color: #fff;
    font-variant: small-caps;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 5;
}

.galerie {
	position: absolute;
    top: 0;
    left: 34%;
    right: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
	display: flex;
    column-gap: 30px;
	flex-wrap: wrap;
}

